.subTitle {
  color: #1f1e2f;
  font-size: 19px;
  line-height: 120%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.title {
  color: #001a73;
  font-size: 64px;
  line-height: 90%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1.5px;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.content {
  color: #323842;
  font-size: 19px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Image.Image.Image.Image {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/PDPInvullenMetPostNL.png');
}
.rectangle1470.rectangle1470.rectangle1470 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/rectangle14703.png');
}
.content2 {
  color: #1f1e2f;
  font-size: 19px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.deVoordelenVanDeAdrescheck {
  color: #001a73;
  font-size: 33px;
  line-height: 95%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.iconsPng.iconsPng {
  width: 150px;
  height: 150px;
}
.pNL_05_TDesktopMetGrafiek_ID23.pNL_05_TDesktopMetGrafiek_ID23 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/pNL_05_TDesktopMetGrafiek_ID232.png');
}
.occaecatEstIpsumReprehenderitR {
  color: #e75204;
  font-size: 22px;
  line-height: 105%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.occaecatEstIpsumReprehenderitR2 {
  color: #1f1e2f;
  font-size: 16px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.iconsPng2.iconsPng2 {
  width: 150px;
  height: 150px;
}
.pNL_05_Retourpakket_ID23.pNL_05_Retourpakket_ID23 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/pNL_05_Retourpakket_ID232.png');
}
.occaecatEstIpsumReprehenderitR3 {
  color: #e75204;
  font-size: 22px;
  line-height: 105%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.occaecatEstIpsumReprehenderitR4 {
  color: #1f1e2f;
  font-size: 16px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.iconsPng3.iconsPng3 {
  width: 150px;
  height: 150px;
}
.pNL_05_TLike_Speechbubble_ID23.pNL_05_TLike_Speechbubble_ID23 {
  bottom: 0%;
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/pNL_05_TLike_Speechbubble_ID232.png');
}
.occaecatEstIpsumReprehenderitR5 {
  color: #e75204;
  font-size: 22px;
  line-height: 105%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.occaecatEstIpsumReprehenderitR6 {
  color: #1f1e2f;
  font-size: 16px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wwvdComponentContentScreens.wwvdComponentContentScreens {
  background-color: #fbfbfb;
}
.container.container {
  gap: 38px;
}
.containerContent.containerContent {
  align-items: flex-start;
}
.pasteYourDesignHere.pasteYourDesignHere {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iphone-screen1.png');
}
.image1.image1 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image15.png');
}
.bezorgvoorkeurenInInvullenMetP.bezorgvoorkeurenInInvullenMetP {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/bezorgvoorkeurenInInvullenMetP6.png');
}
.iMG_61361.iMG_61361 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iMG_613614.png');
}
.frame9289.frame9289 {
  -webkit-mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen5.svg');
  mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen5.svg');
}
.image3.image3 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image35.png');
}
.image4.image4 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image45.png');
}
.container2.container2 {
  gap: 38px;
}
.containerContent2.containerContent2 {
  align-items: flex-start;
}
.pasteYourDesignHere2.pasteYourDesignHere2 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iphone-screen2.png');
}
.image12.image12 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image16.png');
}
.bezorgvoorkeurenInInvullenMetP2.bezorgvoorkeurenInInvullenMetP2 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/bezorgvoorkeurenInInvullenMetP7.png');
}
.iMG_613612.iMG_613612 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iMG_613615.png');
}
.frame92892.frame92892 {
  -webkit-mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen6.svg');
  mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen6.svg');
}
.image32.image32 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image36.png');
}
.image42.image42 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image46.png');
}
.container3.container3 {
  gap: 38px;
}
.containerContent3.containerContent3 {
  align-items: flex-start;
}
.pasteYourDesignHere3.pasteYourDesignHere3 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iphone-screen3.png');
}
.image13.image13 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image17.png');
}
.image2.image2 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image23.png');
}
.bezorgvoorkeurenInInvullenMetP3.bezorgvoorkeurenInInvullenMetP3 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/bezorgvoorkeurenInInvullenMetP8.png');
}
.image6.image6 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image62.png');
}
.frame92893.frame92893 {
  -webkit-mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen7.svg');
  mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen7.svg');
}
.image33.image33 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image37.png');
}
.image43.image43 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image47.png');
}
.container4.container4 {
  gap: 38px;
}
.containerContent4.containerContent4 {
  align-items: flex-start;
}
.pasteYourDesignHere4.pasteYourDesignHere4 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iphone-screen4.png');
}
.image14.image14 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image18.png');
}
.image22.image22 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image24.png');
}
.bezorgvoorkeurenInInvullenMetP4.bezorgvoorkeurenInInvullenMetP4 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/bezorgvoorkeurenInInvullenMetP9.png');
}
.iMG_613613.iMG_613613 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/iMG_613616.png');
}
.frame92894.frame92894 {
  -webkit-mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen8.svg');
  mask-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/screen8.svg');
}
.image34.image34 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image38.png');
}
.image44.image44 {
  background-image: url('https://d19g4hfs2dmq76.cloudfront.net/authwarden/landing/image48.png');
}
.testimonial {
  color: #1f1e2f;
  font-size: 16px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.postlijn2.postlijn2 {
  transform-origin: top left;
  left: -344.231px;
  bottom: -576.5241px;
  top: initial;
  transform: matrix(0.5, -0.866, 0.866, 0.5, 0, 0);
}
.button.button {
  width: 176px;
}
.Text {
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  font-weight: bold;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.wwvdComponentButtonVertical.wwvdComponentButtonVertical {
  position: fixed;
  right: 0;
  top: 297px;
}
.Divider.Divider {
  right: 0;
  bottom: 0;
  top: initial;
  height: 1px;
}
.Logo.Logo {
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;
  transform: translate(-50%, -50%);
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.frame16 {
  position: relative;
  top: 80px;
  width: 100%;
  max-width: 1194px;
  margin: 0 auto;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.wwvdComponentContentFooter {
  position: relative;
  width: 1194px;
  height: 497px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.wwvdElementFooterContact {
  position: absolute;
  left: 50%;
  top: calc(50% - 24.2881px);
  width: 700px;
  height: 301px;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  background-color: #001a73;
  transform: translate(-50%, -50%);
}
.frame9283 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.lookingForSomething {
  color: #fff;
  font-size: 46px;
  line-height: 90%;
  font-weight: bold;
  font-family: ABC ROM, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -1.5px;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.subscribeToOurNewsletter {
  color: #fff;
  font-size: 19px;
  line-height: 160%;
  font-family: Hanken Grotesk, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.wwvdComponentHeaderLarge {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1194px;
  height: 78px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #fff;
  transform: translateX(-50%);
}
.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 1194px;
  height: 78px;
  padding: 19px 32px;
}
