.root {
  position: relative;
  width: 2481px;
  height: 2482px;
  flex-direction: column;
  align-items: flex-start;
}
.pNL_05_TDesktopMetGrafiek_ID23 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('assets/pNL_05_TDesktopMetGrafiek_ID23.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
