.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 638px;
  height: 631px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
._16 {
  position: absolute;
  left: 5.1791%;
  right: 85.9428%;
  top: 4.0067%;
  bottom: 79.5677%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
._15 {
  position: absolute;
  left: 1.883%;
  right: 94.821%;
  top: 20.4312%;
  bottom: 60.6209%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
._14 {
  position: absolute;
  left: 1.4107%;
  right: 98.117%;
  top: 39.3781%;
  bottom: 41.2892%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
._13 {
  position: absolute;
  left: 1.7036%;
  right: 95.4237%;
  top: 58.7134%;
  bottom: 22.3293%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
._12 {
  position: absolute;
  left: 4.5766%;
  right: 87.4287%;
  top: 77.6692%;
  bottom: 5.3604%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
._11 {
  position: absolute;
  left: 12.5715%;
  right: 70.1775%;
  top: 94.6428%;
  bottom: 1.4263%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
._10 {
  position: absolute;
  left: 29.822%;
  right: 51.8754%;
  top: 92.4687%;
  bottom: 2.0259%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
._9 {
  position: absolute;
  left: 48.1246%;
  right: 34.6142%;
  top: 84.2586%;
  bottom: 7.5317%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
._8 {
  position: absolute;
  left: 65.3861%;
  right: 18.6223%;
  top: 73.5441%;
  bottom: 15.7428%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
._7 {
  position: absolute;
  left: 81.3775%;
  right: 5.2023%;
  top: 59.959%;
  bottom: 26.4572%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
._6 {
  position: absolute;
  left: 94.7977%;
  right: 1.4107%;
  top: 42.4094%;
  bottom: 40.0383%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
._5 {
  position: absolute;
  left: 83.3462%;
  right: 3.8267%;
  top: 28.168%;
  bottom: 57.592%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
._4 {
  position: absolute;
  left: 67.6776%;
  right: 16.6537%;
  top: 17.016%;
  bottom: 71.8323%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
._3 {
  position: absolute;
  left: 50.4536%;
  right: 32.3222%;
  top: 8.5604%;
  bottom: 82.9845%;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
._2 {
  position: absolute;
  left: 32.2232%;
  right: 49.5465%;
  top: 2.654%;
  bottom: 91.4391%;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
._1 {
  position: absolute;
  left: 14.0573%;
  right: 67.7768%;
  top: 1.4263%;
  bottom: 95.9932%;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
